.destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}

.destroyer {
    background-color: white;
}

.destroyer-hidden {
    display: none !important;
  }

.submarine-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.submarine {
    background-color: blue;
}

.submarine-hidden {
    display: none !important;
  }

.cruiser-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser {
    background-color: greenyellow;
}

.cruiser-hidden {
    display: none !important;
  }

.battleship-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.battleship {
    background-color: gold;
}

.battleship-hidden {
    display: none !important;
  }

.carrier-preview {
    width: 50px;
    height: 10px;
    margin: 3px;
}

.carrier {
    background-color: brown;
}

.carrier-hidden {
    display: none !important;
  }